<%-include('partials/header')  %>
<%-include('partials/navbar')  %>

    

    <!-- Formulario para crear publicaciones -->
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center py-3">Ultimas Noticias</h1>
            </div>
        </div>
        
        <div class="row">
            <div class="col">
                <main class="gap-2 d-flex flex-column" id="lista-publicaciones">
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                        <div class="col-md-4">
                            <a class="img-fluid rounded-start" href="https://www.infiernorojo.com/independiente/tevez-mentalmente-estamos-fuertes-y-seguimos-creciendo/" target="_blank"><img class="img-fluid rounded-start" src="/img/tevez.jpeg" alt="carlos tevez"></a>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                            <h5 class="card-title">Carlos tevez en confernecia</h5>
                            <p class="card-text">"Estamos mentalmente activos" señalo el dt de independiente luego de la derrota contra Estudiantes en copa Argentina y de cara a una "nueva final"</p>
                            <p class="card-text"><small class="text-body-secondary">12-09-2023</small></p>
                            </div>
                        </div>
                        </div>
                    </div>
                
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                        <div class="col-md-4">
                            <a class="img-fluid rounded-start" href="https://www.infiernorojo.com/independiente/goleada-en-la-altura-con-sello-rojo/" target="_blank"><img class="img-fluid rounded-start" src="/img/taglia.jpeg"></a>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                            <h5 class="card-title">Victoria con sello rojo en la altura</h5>
                            <p class="card-text">La seleccion arraso contra Boliva y con gol de un ex Independiente</p>
                            <p class="card-text"><small class="text-body-secondary">13-09-2023</small></p>
                            </div>
                        </div>
                        </div>
                    </div>

                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                        <div class="col-md-4">
                            <a class="img-fluid rounded-start" href="https://www.infiernorojo.com/independiente/barcia-podria-ser-operado/" target="_blank"><img class="img-fluid rounded-start" src="/img/barcia.jpg"></a>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                            <h5 class="card-title">Barcia podria ser operado</h5>
                            <p class="card-text">El jugador Baltar Barcia se resintio de su lesion y prodria pasar por el quirofano</p>
                            <p class="card-text"><small class="text-body-secondary">11-09-2023</small></p>
                            </div>
                        </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>




<script src="/js/home.js"></script>

<%-include('partials/footer')  %>