* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(255, 0, 0, 0.445);
}

img {
    height: 200px;
    width: 200px;
}

#lista-publicaciones{
    display: flex;
    justify-content: center;
}

#lista-publicaciones img {
    width: 400px;
    height: 200px;
}